<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">Pongpang Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/product/15promax.webp">
          <ion-label>
            <div class="center">
            I phone 15 Pro max <br>
            ราคา 44,900 บาท <br>
            <ion-button>
              <ion-icon name="bag-handle-outline">

              </ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/product/f23fe.webp">
          <ion-label>
            <div class="center">
              sumsung S23 FE<br>
              ราคา 39,000 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/product/ipadair5.webp">
          <ion-label>
            <div class="center">
              I pad air5<br>
              ราคา 40,800 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/product/mi-14tpro.jpg">
          <ion-label>
            <div class="center">
              Mi 14 Pro<br>
              ราคา 29,000 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/product/mipad5.jpg">
          <ion-label>
            <div class="center">
              Mi pad 5<br>
              ราคา 14,000 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/product/s24.webp">
          <ion-label>
            <div class="center">
              Sumsung S24 Utlra<br>
              ราคา 43,000 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/product/ts9.jpg">
          <ion-label>
            <div class="center">
              Sumsung tab S9<br>
              ราคา 42,000 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/product/vivo-y20.png">
          <ion-label>
            <div class="center">
              Vivo Y20<br>
              ราคา 6,100 บาท<br>
              <ion-button>
                <ion-icon name="bag-handle-outline">
  
                </ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
